@font-face {
    font-family: odin-font;
    src: url(Norse-Bold.otf);
}

:root{
    --button-color: #596D48;
    --default-input-color: #E5E7EB;
    --good-input-color:blue;
    --bad-input-color:red;
    --left-width:400px, 40vw, 40vw;
    --right-width:600px, 60vw, 60vw;
    --color-white: white;
    --color-darker-white: rgb(233, 233, 233);
}

.flex{
    display: flex;
}

body{
    font-family: sans-serif;
    min-height: 100vh;
    padding: 0;
    margin: 0;
}

.banner {
    font-family: odin-font, sans-serif;
    color: var(--color-white);
    font-size: clamp(64px, 82px, 82px);
    flex-flow: column;
    align-items: center;
    margin-top: 20vh;
}

.logo{
    align-items: center;
    background-color: rgba(0, 0 , 0, 0.6);
    width : clamp(var(--left-width));
    justify-content: center;
    height: 175px;
}

img{
    height: 150px;
}

.left {
    background-image: url('img/plants.jpg');
    background-size: cover;
    flex-flow: column;
    width: clamp(var(--left-width));
}

.right{
    flex-flow: column;
    width: clamp(var(--right-width));
}

.credit{
    color: var(--color-white);
    position: absolute;
    bottom: 10px; left: clamp(50px, 15vw, 15vw);
}

.credit a:visited {
    color: var(--color-white);
}

.mini-text a:visited, .mini-text a:link{
    color: var(--button-color);
    text-decoration: none;
}

button{
    background-color :var(--button-color);
    color: var(--color-white);
    padding: 15px 50px 15px 50px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 8px;
    border: none;
    box-shadow: 2px 5px 2px 0 rgba(0,0,0,0.1);
}

.box{
    flex-direction: column;
    margin:0 50px 25px 0;
}

.layer-one{
    height: clamp(200px, 40vh, 40vh);
    background-color: var(--color-darker-white);
    min-width: 885px;
}

.layer-two{
    height: clamp(275px, 30vh, 30vh);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    min-width: 885px;
}

.layer-three{
    height: clamp(200px, 30vh, 30vh);
    background-color: var(--color-darker-white);
    min-width: 885px;
    z-index: -1;
}

.main-text{
    font-weight: bold;
    font-size: 24px;
}

label{
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 1px;
}

input{
    width: 250px;
    border: solid var(--default-input-color);
    border-radius: 5px;
    border-width: 1px;
    height: 24px;
}

input:focus{
    border: solid pink;
}

.error{
    border: solid var(--bad-input-color);
}

.mini-text{
    font-weight: 500;
}

.layer-one p{
    margin-top: 15vh;
}

.layer-three div{
    margin-top: 35px;
}

form, .layer-one p, .layer-three div{
    margin-left: 50px;
}